/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML Selectors */
body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

nav {
    background-color: black;
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
    

}

h1 {
font-size: 2.5rem;
color: #ccc;
padding: 15px;
}

h2 {
    font-size: 2rem;
    color: navy;
    text-align: center;
    margin-top: 30px;
}

main {
    margin-top: 125px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

picture {
    margin: 0 auto;
}

picture img {
    width: 240px;
    height: auto;
    border-radius: 5%;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px #777;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px
}

label {
    margin: 15px 0;
}

footer {
    background-color: gray;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}


.open li {
    display: block;
}

.block {
    display: block;
}





/*  task 05*/

/* CSS for Grid Layout */
#temples {
    display: grid;
   
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px; 
    justify-items: center; 
  }
  
  /* Style for each temple card */
  .temple-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 50px;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px #9da4cc;
    text-align: center;
  }
  
  /* Style for temple images */
  .temple-card img {
    width: 100%; /* Ancho del 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 100%; /* No exceder el ancho original de la imagen */
    transition: transform 0.3s, box-shadow 0.3s;
    object-fit: cover;
}
  
  /* Hover effect for the temple image */
  .temple-card img:hover {
    transform: scale(1.05); /* Scale up the image on hover */
    box-shadow: 0 0 20px rgba(4, 30, 81, 0.6); /* Increase the shadow on hover */
  }
  
/* Center the h1 element within the second grid cell */
#gridly {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title";
    justify-items: center;
    align-items: center;
  }
  
  h1 {
    grid-area: title;
    text-align: center;
    box-shadow: 0 0 10px rgba(4, 30, 81, 0.2); /* Add a shadow to the images */
  }
     
/* Media Queries */
/* Media Query para tablet */
@media screen and (max-width: 768px) {
    #temples {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a dos columnas en tablet */
    }
}

/* Media Query para dispositivos móviles */
@media screen and (max-width: 500px) {
    #temples {
        grid-template-columns: 1fr; /* Cambiar a una columna en móviles */
    }
    nav ul li:first-child {
        display: block;
        font-size: 2rem;
    }
}
