body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: gray;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Estilos para el contenedor de imágenes */
.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 50px;
    justify-content: space-between;
    margin-top: 50px;
}

/* Estilos para cada tarjeta de imagen */
.image-card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(84, 73, 73, 0.1);
}

/* Estilos para las imágenes */
.generated-image {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 400px;
    transition: transform 0.3s, box-shadow 0.3s;
    object-fit: cover;
}

/* Estilos para los títulos */
h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}
