body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

/* Change the background color of the selection button */
#breedSelect {
    background-color: #e4e1ca; /* Change the background color to your preference */
    color: #241f1f; /* Change the text color to your preference */
    padding: 10px;
}

footer {
    background-color: gray;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Styles for the image container */
.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 50px;
    justify-content: space-between;
    margin-top: 50px;
}

/* Styles for each image card */
.image-card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(73, 64, 105, 0.1);
}

/* Styles for the images */
.generated-image {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 400px;
    transition: transform 0.3s, box-shadow 0.3s;
    object-fit: cover;
}

/* Styles for the titles */
h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}
/* Estilos para los botones de filtros */
.filter-button {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    padding: 10px 20px; /* Espaciado interno */
    margin: 5px; /* Espaciado exterior */
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo cuando el cursor está sobre el botón */
.filter-button:hover {
    background-color: #45a049;
}

/* Estilo cuando se presiona el botón */
.filter-button:active {
    background-color: #3e8948;
}
